<?xml version="1.0" encoding="utf-8" ?>
<endpoints>
  <EntityManagerSOASoap>http://192.168.145.132/InvestigacionBizagi1/WebServices/EntityManagerSOA.asmx</EntityManagerSOASoap>
  <WorkflowEngineSOASoap>http://192.168.145.132/InvestigacionBizagi1/WebServices/WorkflowEngineSOA.asmx</WorkflowEngineSOASoap>
</endpoints>